/* ------- brands ------- */

.title {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color:  $grey;
  text-transform: uppercase;

  margin: 0;
  background: linear-gradient( to right,  $grey-background, $white);
}

.brands {
  margin-top: 50px;
  border-top: 1px solid $lite-green;
  &__title {
    padding: 16px;
    @media (min-width: $screen-md) {
      padding-left: 24px;
    }
    @media (min-width: $screen-xl) {
      padding-left: 32px;
    }
  }
  &__swiper {
    margin-bottom: 20px;
    @media (min-width: $screen-md) {
      margin: 0;
    }
  }
  &__list {
    margin: 16px 0 32px 16px;
    padding: 0;
    width: auto;
    height: 150px;
    list-style: none;
    transition: 1s;
    @media (min-width: $screen-md) {
      display: grid;
      column-gap: 24px;
      grid-template-columns: repeat(3, 224px);
      row-gap: 16px;
      margin: 24px;
    }
    @media (min-width: $screen-xl) {
      column-gap: 32px;
      grid-template-columns: repeat(4, 240px);
      row-gap: 16px;

      margin: 24px 32px;
    }
  }
}

.brands__item a {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 240px;
  height: 72px;

  padding: 0 15px;

  background-color: $white;
  border: 1px solid $grey-border;
  border-radius: 5px;

  @media (min-width: $screen-md) {
    width: 100%;
  }
}

.brands__item a::after {
  content:"";
  width: 40px;
  height: 40px;
  background: url("../img/brands/go.svg") no-repeat;
}

/* ------- swiper ------- */

.brands__swiper-pagination.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $grey;
}

/* ------- show-more ------- */

.show-more {
  display: none;
  gap: 16px;
  align-items: center;
  width: 100%;
  height: 24px;
  margin: 0 0 32px 32px;
  @media (min-width: $screen-md) {
    display: flex;
  }
  &__button {
    border: none;
    background-color:  $grey-background;
    padding: 0;
  }
  &__label {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
}

.brands__list.showed {
  height: 320px;
  transition: 1s;
}
  //.item-hidden {
  //  @media (min-width: $screen-md) {
  //    display: none;
  //  }
  //}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}

.icon--rotate {
    @media (min-width: $screen-md) {
    animation-name: rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

//.item-hidden:nth-child(7),
//.item-hidden:nth-child(8) {
//  @media (min-width: $screen-xl) {
//    display: block;
//  }
//}
