/* ------- brands ------- */

.title {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color:  $grey;
  text-transform: uppercase;

  margin: 0;
  background: linear-gradient( to right,  $grey-background, $white);
}

.brands {
  margin-top: 50px;
  border-top: 1px solid $lite-green;
  &__title {
    padding: 16px;
  }
}

/* ------- swiper ------- */

.brands__swiper {
  margin-bottom: 20px;
}

.brands__list {
  margin: 16px 0 32px 16px;
  padding: 0;
  width: auto;
  height: auto;
  list-style: none;
}

.brands__item a {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 240px;
  height: 72px;

  padding: 0 15px;

  background-color: $white;
  border: 1px solid $grey-border;
  border-radius: 5px;
}

.brands__item a::after {
  content:"";
  width: 40px;
  height: 40px;
  background: url("../img/brands/go.svg") no-repeat;
}

.brands__swiper-pagination.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $grey;
}

.brands__container-for-show-more {
  display: none;
}

.brands__show-more {
  border: none;
  background-color:  $grey-background;
  padding: 0;
}

.label {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}

@media (min-width: 767px) {
  .brands__title {
    padding-left: 24px;
  }

  .brands__list {
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(3, 224px);
    row-gap: 16px;

    margin: 24px;
  }

  .brands__item a {
    width: 100%;
  }

  .item-hidden {
    display: none;
  }

  .brands__swiper {
    margin: 0;
  }

  .brands__container-for-show-more {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    height: 24px;
    margin: 0 0 32px 32px;
  }

  .icon--rotate {
    animation-name: rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@media (min-width: 1120px) {
  .brands__title {
    padding-left: 32px;
  }

  .brands__list {
    column-gap: 32px;
    grid-template-columns: repeat(4, 240px);
    row-gap: 16px;

    margin: 24px 32px;
  }

  .item-hidden:nth-child(7),
  .item-hidden:nth-child(8) {
    display: block;
  }
}
