// services-header

.services__header {
  margin: 24px 16px;
  @media (min-width: $screen-xl) {
    margin-top: 42px;
  }
  .buttons-top {
    display: none;
    @media (min-width: $screen-xl) {
      display: flex;
      width: 375px;
      margin-right: 32px;
    }
    label {
      @media (min-width: $screen-xl) {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
  .services__heading {
    display: flex;
    align-items: center;
    font-family: 'TT Lakes', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    position: relative;
    @media (min-width: $screen-xl) {
      margin: 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: -16px;
      width: 4px;
      height: 40px;
      background-color: $green;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      @media (min-width: $screen-md) {
        margin-right: 20px;
      }
      @media (min-width: $screen-xl) {
        margin-right: 30px;
      }
    }
  }
}

// slide-menu

.slide-menu {
  display: flex;
  overflow-x: scroll;
  margin: 24px 16px;
  @media (min-width: $screen-md) {
    margin: 32px 24px;
  }
  @media (min-width: $screen-xl) {
    flex-wrap: wrap;
    overflow-x: hidden;
    margin: 8px 0 8px 32px;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &__item {
    flex-shrink: 0;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    color: $grey;
    background-color: $grey-background;
    border: none;
    padding: 8px 15px;
    &:first-child {
      box-sizing: border-box;
      border: 2px solid $lite-green;
      border-radius: 5px;
      background-color: $white;
    }
  }
}

// ----- text

.services__body {
  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
    margin: 0 24px;
  }
  @media (min-width: $screen-xl) {
    gap: 36px;
    margin-left: 32px;
  }
  .services__container-for-text {
    margin: 0 16px;
    @media (min-width: $screen-md) {
      margin: 0;
    }
    .services__text {
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 18px;
      @media (min-width: $screen-md) {
        line-height: 20px;
      }
      &:last-of-type {
        display: none;
        @media (min-width: $screen-md) {
          display: block;
          margin-top: 16px;
        }
        span {
          @media (min-width: $screen-md) {
            display: none;
          }
          @media (min-width: $screen-xl) {
            display: inline;
          }
        }
      }
    }
    .show-more {
      display: flex;
      margin: 16px 0 24px;
      @media (min-width: $screen-md) {
        margin-top: 10px;
      }
    }
  }
}

// ----- image

.services__image {
  width: 320px;
  height: auto;
  @media (min-width: $screen-md) {
    width: 360px;
    border-radius: 5px;
  }
  @media (min-width: $screen-xl) {
    width: 100%;
  }
}

.services__buttons-top .wrapper:first-child {
  @media (min-width: $screen-xl) {
    width: 174px;
  }
}

.services__buttons-top .wrapper:last-child {
  @media (min-width: $screen-xl) {
    width: 168px;
  }
}
