* {font-family: 'TT Lakes', sans-serif;}
p {margin: 0;}
h1, h2, h3, h4, h5 {margin: 0;}
a {text-decoration: none;}
button {background-color: $white; border: none; padding: 0}

body {
  margin: 0;
  padding: 0;
  background-color:  $grey-background;
  font-family: 'TT Lakes', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  @media (min-width: $screen-xl) {
    display: grid;
    grid-template-columns: 320px 1120px;
    justify-content: center;
  }
}

.content {
  @media (min-width: $screen-xl) {
    grid-column: 2/3;
  }
}

@media (min-width: 767px) {
  .services__container-for-heading::before {
    margin-right: 20px;
  }

  .services__slide-menu {
    margin: 32px 24px;
  }

  .services__container-for-text {
    margin: 0;
  }

  .services__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
    margin: 0 24px;
  }

  .services__text {
    line-height: 20px;
  }

  .services__text:last-of-type {
    display: block;
    margin-top: 16px;
  }

  .services__text:last-of-type span {
    display: none;
  }

  .services__container-for-read-more {
    margin-top: 10px;
  }

  .services__image {
    width: 360px;
    border-radius: 5px;
  }
}

@media (min-width: $screen-xl) {
  .services__container-for-heading {
    margin: 0;
  }

  .services__container-for-heading::before {
    margin-right: 30px;
  }

  .services__header {
    margin-top: 42px;
  }

  .services__header .buttons-top {
    display: flex;
    width: 375px;
    margin-right: 32px;
  }

  .services__buttons-top .wrapper:first-child {
    width: 174px;
  }

  .services__buttons-top .wrapper:last-child {
    width: 168px;
  }

  .buttons-top label {
    font-weight: 500;
    font-size: 16px;
  }

  .services__slide-menu {
    flex-wrap: wrap;
    overflow-x: hidden;
    margin: 8px 0 8px 32px;
  }

  .services__body {
    gap: 36px;
    margin-left: 32px;
  }

  .services__text:last-of-type span   {
    display: inline;
  }

  .services__image {
    width: 100%;
  }
}
