* {font-family: 'TT Lakes', sans-serif;}
p {margin: 0;}
a {text-decoration: none;}
button {background-color: $white; border: none; padding: 0}

body {
  margin: 0;
  padding: 0;
  background-color:  $grey-background;
  font-family: 'TT Lakes', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  @media (min-width: $screen-xl) {
    display: grid;
    grid-template-columns: 320px 1120px;
    justify-content: center;
  }
}

.content {
  @media (min-width: $screen-xl) {
    grid-column: 2/3;
  }
}

/* ------- header ------- */

.header {
  height: 88px;
  border-bottom: 1px solid $lite-green;
  background-color: $white;
}

.header__left {
  width: 154px;
  margin-left: 16px;
}

.header__buttons-aside {
  display: none;
}

.button {
  width: 40px;
  height: 40px;
  background-color: $pink;
  border-radius: 50%;
  position: relative;
}

.button:hover {
  filter: drop-shadow(0 0 5px  $grey);
  transition-duration: 0.5s;
}

.header__burger::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 11px;
  bottom: 12px;
  left: 11px;
  width: 18px;
  height: 16px;
  background: url("../img/burger.svg") no-repeat;
}

.header__right {
  width: 118px;
  margin-right: 16px;
}

.buttons-top {
  width: 96px;
}

.header__right .header__devider {
  width: 2px;
  height: 32px;
  background-color: $grey-border;
}

.request::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url("../img/request.svg") no-repeat;
}

.status::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  bottom: 10px;
  left: 12px;
  width: 16px;
  height: 20px;
  background: url("../img/status.svg") no-repeat;
}

/* ------- services ------- */

.services__header .buttons-top {
  display: none;
}

.services__heading {
  font-family: 'TT Lakes', sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
}

.services__container-for-heading {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 24px;
}

.services__container-for-heading::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: $green;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 12px;
}

.services__slide-menu {
  display: flex;
  overflow-x: scroll;
  margin: 24px 16px;
}

.services__slide-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.services__item {
  flex-shrink: 0;
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  color:  $grey;
  background-color:  $grey-background;
  border: none;
  padding: 8px 15px;
}

.services__item:first-child {
  box-sizing: border-box;
  border: 2px solid $lite-green;
  border-radius: 5px;
  background-color: $white;
}

.services__container-for-text {
  margin: 0 16px;
}

.services__text {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 18px;
}

.services__text:last-of-type {
  display: none;
}

.container-for-read-more {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  height: 24px;
  margin: 16px 0;
}

.container-for-read-more::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/read-more.svg") no-repeat 50% 50%;
}

.read-more {
  border: none;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color:  $grey-background;
  padding: 0;
}

.services__image {
  width: 320px;
  height: auto;
}

@media (min-width: 767px) {
  .header__left {
    width: 180px;
    margin-left: 24px;
  }

  .header__right {
    width: 290px;
    margin-right: 24px;
  }

  .header__buttons-aside {
    display: flex;
    width: 152px;
  }

  .header__call::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 11px;
    bottom: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    background: url("../img/call.svg") no-repeat;
  }

  .header__chat::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 10px;
    bottom: 11px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url("../img/chat.svg") no-repeat;
  }

  .header__profile::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    width: 20px;
    height: 18px;
    background: url("../img/profile.svg") no-repeat;
  }

  .header__left .header__devider {
    width: 2px;
    height: 32px;
    background-color: $grey-border;
  }

  .services__container-for-heading::before {
    margin-right: 20px;
  }

  .services__slide-menu {
    margin: 32px 24px;
  }

  .services__container-for-text {
    margin: 0;
  }

  .services__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
    margin: 0 24px;
  }

  .services__text {
    line-height: 20px;
  }

  .services__text:last-of-type {
    display: block;
    margin-top: 16px;
  }

  .services__text:last-of-type span {
    display: none;
  }

  .services__container-for-read-more {
    margin-top: 10px;
  }

  .services__image {
    width: 360px;
    border-radius: 5px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .services__container-for-heading {
    margin: 0;
  }

  .services__container-for-heading::before {
    margin-right: 30px;
  }

  .services__header {
    margin-top: 42px;
  }

  .services__header .buttons-top {
    display: flex;
    width: 375px;
    margin-right: 32px;
  }

  .services__buttons-top .wrapper:first-child {
    width: 174px;
  }

  .services__buttons-top .wrapper:last-child {
    width: 168px;
  }

  .buttons-top label {
    font-weight: 500;
    font-size: 16px;
  }

  .services__slide-menu {
    flex-wrap: wrap;
    overflow-x: hidden;
    margin: 8px 0 8px 32px;
  }

  .services__body {
    gap: 36px;
    margin-left: 32px;
  }

  .services__text:last-of-type span   {
    display: inline;
  }

  .services__image {
    width: 100%;
  }
}

/* ------- brands ------- */

.brands {
  margin-top: 50px;
  border-top: 1px solid $lite-green;
}

.title {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color:  $grey;
  text-transform: uppercase;

  margin: 0;
  background: linear-gradient( to right,  $grey-background, $white);
}

.brands__title {
  padding: 16px 16px;
}

/* ------- swiper ------- */

.brands__swiper {
  margin-bottom: 20px;
}

.brands__list {
  margin: 16px 0 32px 16px;
  padding: 0;
  width: auto;
  height: auto;
  list-style: none;
}

.brands__item a {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 240px;
  height: 72px;

  padding: 0 15px;

  background-color: $white;
  border: 1px solid $grey-border;
  border-radius: 5px;
}

.brands__item a::after {
  content:"";
  width: 40px;
  height: 40px;
  background: url("../img/brands/go.svg") no-repeat;
}

.brands__swiper-pagination.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $grey;
}

.brands__container-for-show-more {
  display: none;
}

.brands__show-more {
  border: none;
  background-color:  $grey-background;
  padding: 0;
}

.label {
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}

@media (min-width: 767px) {
  .brands__title {
    padding-left: 24px;
  }

  .brands__list {
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(3, 224px);
    row-gap: 16px;

    margin: 24px;
  }

  .brands__item a {
    width: 100%;
  }

  .item-hidden {
    display: none;
  }

  .brands__swiper {
    margin: 0;
  }

  .brands__container-for-show-more {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    height: 24px;
    margin: 0 0 32px 32px;
  }

  .icon--rotate {
    animation-name: rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@media (min-width: 1120px) {
  .brands__title {
    padding-left: 32px;
  }

  .brands__list {
    column-gap: 32px;
    grid-template-columns: repeat(4, 240px);
    row-gap: 16px;

    margin: 24px 32px;
  }

  .item-hidden:nth-child(7),
  .item-hidden:nth-child(8) {
    display: block;
  }
}
